<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
    
    <div class="container mt-4">
        <form method="POST" action="/predict">
            <div class="input-group">
                <select class="form-control" id="inputState" name="user_state" aria-label="Example select with button addon">
                  <option selected>Choose State...</option>
                  <option value="1">Himachal Pradesh</option>
                  <option value="2">Uttarakhand</option>
                  <option value="2">Rajasthan</option>
                  <option value="2">Kerala</option>
                </select>
            </div>
            <br>
            <br>
            <button type="submit" class="btn btn-primary">Predict</button>
        </form>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>